<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catan</title>
    <link rel="stylesheet" href="../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="../wwwroot/css/login.css"/>
</head>
<body>
    <div class="background-image">
        <div class="form-box">
            <h1 id="title">Log In</h1>
                <div class="input-group">
                    <h4 id="errorText"> </h4>
                    <div class="input-field" id="usernameField">
                        <span class="glyphicon glyphicon-user"></span>
                        <input type="text" placeholder="Username" />
                    </div>
                    <div class="input-field" id="passwordField">
                        <span class="glyphicon glyphicon-lock"></span>
                        <input type="password" placeholder="Password" />
                    </div>
                    <div class="input-field" id="confirmPasswordField">
                        <span class="glyphicon glyphicon-lock"></span>
                        <input type="password" placeholder="Confirm Password" />
                    </div>
                </div>
                <div class="button-field">
                    <button type="button" id="loginButton">Log In</button>
                    <button type="button" id="registerButton" class="disabled">Register</button>
                </div>
        </div>
    </div>
    <script src="../wwwroot/lib/jquery/dist/jquery.min.js"></script>
    <script src="../wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="../wwwroot/js/login.js"></script>
</body>